{% extends 'base.html' %}

{% block content %}
<!--begin::Header-->
<div id="kt_header" class="header align-items-stretch">
    <div class="container-xxl d-flex align-items-stretch justify-content-between">
        <a href="index.html" class="d-flex align-items-center d-lg-none">
            <img alt="Logo" src="{{ url_for('static', filename='media/logos/logo-1.svg') }}" class="h-30px" />
        </a>
    </div>
</div>
<!--end::Header-->

<!--begin::Content-->
<div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
    <div class="card">
        <div class="card-header align-items-center">
            <div class="card-title">
                <h2>Rédiger l'email</h2>
            </div>
        </div>
        <div class="card-body p-0">
            <form id="kt_inbox_compose_form" method="POST" action="/predict">
                <div class="d-block">
                    <!--begin::To-->
                    <div class="d-flex align-items-center border-bottom px-8 min-h-50px">
                        <div class="text-dark fw-bolder w-75px">À:</div>
                        <input type="text" class="form-control form-control-transparent border-0" name="sender" placeholder="Entrez l'adresse e-mail" />
                        <div class="ms-auto w-75px text-end">
                            <span class="text-muted fs-bold cursor-pointer text-hover-primary me-2" data-kt-inbox-form="cc_button">Cc</span>
                            <span class="text-muted fs-bold cursor-pointer text-hover-primary" data-kt-inbox-form="bcc_button">Bcc</span>
                        </div>
                    </div>
                    <!--end::To-->

                    <!--begin::CC-->
                    <div class="d-none align-items-center border-bottom ps-8 pe-5 min-h-50px" data-kt-inbox-form="cc">
                        <div class="text-dark fw-bolder w-75px">Cc:</div>
                        <input type="text" class="form-control form-control-transparent border-0" name="compose_cc" placeholder="Entrez l'adresse e-mail" />
                        <span class="btn btn-clean btn-xs btn-icon" data-kt-inbox-form="cc_close">
                            <i class="la la-close"></i>
                        </span>
                    </div>
                    <!--end::CC-->

                    <!--begin::BCC-->
                    <div class="d-none align-items-center border-bottom inbox-to-bcc ps-8 pe-5 min-h-50px" data-kt-inbox-form="bcc">
                        <div class="text-dark fw-bolder w-75px">Bcc:</div>
                        <input type="text" class="form-control form-control-transparent border-0" name="compose_bcc" placeholder="Entrez l'adresse e-mail" />
                        <span class="btn btn-clean btn-xs btn-icon" data-kt-inbox-form="bcc_close">
                            <i class="la la-close"></i>
                        </span>
                    </div>
                    <!--end::BCC-->

                    <!--begin::Subject-->
                    <div class="border-bottom">
                        <input class="form-control form-control-transparent border-0 px-8 min-h-45px" name="objet" placeholder="Objet" />
                    </div>
                    <!--end::Subject-->

                    <!--begin::Message-->
                    <div class="px-8 py-4">
                        <textarea class="form-control" name="compose_message" rows="10" placeholder="Rédigez votre message ici..."></textarea>
                    </div>
                    <!--end::Message-->

                    <!--begin::Attachments-->
                    <div class="px-8 py-4">
                        <input type="file" name="file" class="form-control" />
                    </div>
                    <!--end::Attachments-->
                </div>

                <!--begin::Footer-->
                <div class="d-flex flex-stack flex-wrap gap-2 py-5 ps-8 pe-5 border-top">
                    <div class="d-flex align-items-center me-3">
                        <button type="submit" class="btn btn-success fs-bold px-6">Envoyer</button>
                        <div class="dropdown ms-2">
                            <button class="btn btn-light btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Tester</a></li>
                                <li><a class="dropdown-item" href="#">Fermer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end::Footer-->

            </form>
        </div>
    </div>
</div>
<!--end::Content-->
{% endblock content %}
