{% extends 'base.html' %}

{% block content %}
								<!--begin::Content-->
								
								<div class="flex-lg-row-fluid ms-lg-7 ms-xl-10" style="overflow-x: auto;">
									<!--begin::Card-->
									<div class="card">
										{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% set category, message = messages[0] %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
{% endwith %}
										<form method="POST" action="{{ url_for('delete_multiple_emails') }}">
										
										<div class="card-header align-items-center py-5 gap-2 gap-md-5">
											<!--begin::Actions-->
											<div class="d-flex flex-wrap gap-1">
												<!--begin::Checkbox-->
												<div class="form-check form-check-sm form-check-custom form-check-solid me-3">
													<input class="form-check-input" id="select-all" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_inbox_listing .form-check-input"  />
												</div>
												<!--end::Checkbox-->
												<!--begin::Filter-->
												<div>
													<a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start">
														<!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
														<span class="svg-icon svg-icon-2">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />
															</svg>
														</span>
														<!--end::Svg Icon-->
													</a>
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3" data-kt-inbox-listing-filter="show_all">All</a>
														</div>
														<!--end::Menu item-->
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3" data-kt-inbox-listing-filter="show_read">Read</a>
														</div>
														<!--end::Menu item-->
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3" data-kt-inbox-listing-filter="show_unread">Unread</a>
														</div>
														<!--end::Menu item-->
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3" data-kt-inbox-listing-filter="show_starred">Starred</a>
														</div>
														<!--end::Menu item-->
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3" data-kt-inbox-listing-filter="show_unstarred">Unstarred</a>
														</div>
														<!--end::Menu item-->
													</div>
													<!--end::Menu-->
												</div>
												<!--end::Filter-->
												
												
												<!--begin::Delete-->
												<button type="submit" onclick="return confirm('Supprimer les messages sélectionnés ?')" 
            class="btn btn-sm btn-icon btn-light btn-active-light-primary" 
            data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
        <!-- Svg delete icon -->
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor" />
                <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor" />
                <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor" />
            </svg>
        </span>
    </button>
												<!--end::Delete-->

                                                <div class="text-dark mb-1" >
																<!--begin::Heading-->
																<a href="reply.html" class="text-dark">
																	<span class="fw-bolder" style="font-size: 23px;">Boite de réception</span>
																	<span class="fw-bolder d-none d-md-inine">-</span>
																</a>
																<!--end::Heading-->
															</div>
												
											</div>
											<!--end::Actions-->
											<!--begin::Pagination-->
											<div class="d-flex align-items-center flex-wrap gap-2">
												<!--begin::Search-->
												<div class="d-flex align-items-center position-relative">
													<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
													<span class="svg-icon svg-icon-2 position-absolute ms-4">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
															<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
														</svg>
													</span>
													<!--end::Svg Icon-->
													<input type="text" data-kt-inbox-listing-filter="search" class="form-control form-control-sm form-control-solid mw-100 min-w-150px min-w-md-200px ps-12" placeholder="Rechercher dans message envoyés" />
												</div>
												<!--end::Search-->
												<!--begin::Sort-->
												<span>
													<a href="#" class="btn btn-sm btn-icon btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-bs-toggle="tooltip" data-bs-placement="top" title="Sort">
														<!--begin::Svg Icon | path: icons/duotune/general/gen059.svg-->
														<span class="svg-icon svg-icon-2 m-0">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
																<rect y="6" width="16" height="3" rx="1.5" fill="currentColor" />
																<rect opacity="0.3" y="12" width="8" height="3" rx="1.5" fill="currentColor" />
																<rect opacity="0.3" width="12" height="3" rx="1.5" fill="currentColor" />
															</svg>
														</span>
														<!--end::Svg Icon-->
													</a>
													<!--begin::Menu-->
													<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3" data-kt-inbox-listing-filter="filter_newest">Newest</a>
														</div>
														<!--end::Menu item-->
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3" data-kt-inbox-listing-filter="filter_oldest">Oldest</a>
														</div>
														<!--end::Menu item-->
														<!--begin::Menu item-->
														<div class="menu-item px-3">
															<a href="#" class="menu-link px-3" data-kt-inbox-listing-filter="filter_unread">Unread</a>
														</div>
														<!--end::Menu item-->
													</div>
													<!--end::Menu-->
												</span>
												<!--end::Sort-->
												
											</div>
											<!--end::Pagination-->
										</div>
										<div class="card-body p-0">
											<!--begin::Table-->
											<table class="table table-hover table-row-dashed fs-6 gy-5 my-0" id="kt_inbox_listing">
												<!--begin::Table head-->
												<thead class="d-none">
													<tr>
														<th>Checkbox</th>
														<th>Actions</th>
														<th>Author</th>
														<th>Title</th>
														<th>Date</th>
													</tr>
												</thead>
												<!--end::Table head-->
												<!--begin::Table body-->
												<tbody>
													{%for email in emails %}
													<tr>
														<td class="ps-9">
															<!--begin::Checkbox-->
															<div class="form-check form-check-sm form-check-custom form-check-solid mt-3">
																<input class="form-check-input" name="email_ids" value="{{ email.id }}"  type="checkbox" />
															</div>
															<!--end::Checkbox-->
														</td>
														<td class="min-w-80px">
															<!--begin::Star-->
															<a href="#" class="btn btn-icon btn-color-gray-400 btn-sm btn-active-color-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Star">
																<!--begin::Svg Icon | path: icons/duotune/general/gen029.svg-->
																<span class="svg-icon svg-icon-2">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<path d="M11.1359 4.48359C11.5216 3.82132 12.4784 3.82132 12.8641 4.48359L15.011 8.16962C15.1523 8.41222 15.3891 8.58425 15.6635 8.64367L19.8326 9.54646C20.5816 9.70867 20.8773 10.6186 20.3666 11.1901L17.5244 14.371C17.3374 14.5803 17.2469 14.8587 17.2752 15.138L17.7049 19.382C17.7821 20.1445 17.0081 20.7069 16.3067 20.3978L12.4032 18.6777C12.1463 18.5645 11.8537 18.5645 11.5968 18.6777L7.69326 20.3978C6.99192 20.7069 6.21789 20.1445 6.2951 19.382L6.7248 15.138C6.75308 14.8587 6.66264 14.5803 6.47558 14.371L3.63339 11.1901C3.12273 10.6186 3.41838 9.70867 4.16744 9.54646L8.3365 8.64367C8.61089 8.58425 8.84767 8.41222 8.98897 8.16962L11.1359 4.48359Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
															<!--end::Star-->
															<!--begin::Important-->
															<a href="#" class="btn btn-icon btn-color-gray-400 btn-sm btn-active-color-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Mark as important">
																<!--begin::Svg Icon | path: icons/duotune/general/gen056.svg-->
																<span class="svg-icon svg-icon-3 mt-1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<path d="M16.0077 19.2901L12.9293 17.5311C12.3487 17.1993 11.6407 17.1796 11.0426 17.4787L6.89443 19.5528C5.56462 20.2177 4 19.2507 4 17.7639V5C4 3.89543 4.89543 3 6 3H17C18.1046 3 19 3.89543 19 5V17.5536C19 19.0893 17.341 20.052 16.0077 19.2901Z" fill="currentColor" />
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</a>
															<!--end::Important-->
														</td>
														<!--begin::Author-->
														<td class="w-150px w-md-175px">
															<a href="{{ url_for('reply', email_id=email.id) }}" class="d-flex align-items-center text-dark">
																<!--begin::Avatar-->
																<div class="symbol symbol-35px me-3">
																	<div class="symbol-label bg-light-danger">
																		<span class="text-danger">De :</span>
																	</div>
																</div>
																<!--end::Avatar-->
																<!--begin::Name-->
																<span class="fw-bold">{{email.sender}}</span>
																<!--end::Name-->
															</a>
														</td>
														<!--end::Author-->
														<!--begin::Title-->
														<td class="overflow-hidden" style="max-width: 300px;">
    <div class="text-dark mb-1 text-truncate" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        <!--begin::Heading-->
        <a href="{{ url_for('reply', email_id=email.id) }}" class="text-dark text-truncate d-inline-block" style="max-width: 100%;">
            <span class="fw-bolder">{{email.objet}}</span>
            <span class="fw-bolder d-none d-md-inline"> - </span>
            <span class="d-none d-md-inline text-muted">{{email.content}}</span>
        </a>
        <!--end::Heading-->
    </div>
    <!--begin::Badges-->
    <div class="badge badge-light-primary text-truncate" style="max-width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
        {{email.content}}
    </div>
    <!--end::Badges-->
</td>
														<!--end::Title-->
														<!--begin::Date-->
														<td class="w-100px text-end fs-7 pe-9">
															<span class="fw-bold">{{email.timestamp|smart_datetime}}</span>
															<!--begin::Svg Icon | path: icons/duotune/general/gen028.svg-->
														{% if email.isRead %}
														<span class="svg-icon svg-icon-2 m-0 text-primary">
														<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="7" y="2" width="14" height="16" rx="3" fill="currentColor" />
															<rect x="3" y="6" width="14" height="16" rx="3" fill="currentColor" />
														</svg>
													</span>
														{% else %}
														<span class="svg-icon svg-icon-2 m-0 text-muted">
														<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="7" y="2" width="14" height="16" rx="3" fill="currentColor" />
															<rect x="3" y="6" width="14" height="16" rx="3" fill="currentColor" />
														</svg>
													</span>
														{% endif %}
														
													<!--end::Svg Icon-->
														</td>
														<!--end::Date-->
													</tr>
													{%endfor%}
													{% if emails|length == 0 %}
													<tr>
														<!--begin::Date-->
														<td class="w-100px text-center fs-7 pe-9">
															<span class="fw-bold" style="text-align: center; color: gray;">Vos messages reçu apparaitront ici. Aucun messages pour l'instant</span>
														</td>
														<!--end::Date-->
													</tr>
													{% endif %}
												</tbody>
												<!--end::Table body-->
											</table>
											<!--end::Table-->
										</div>
										</form>
									</div>
									<!--end::Card-->
								</div>
								<!--end::Content-->
								
								<script>
document.getElementById("select-all").addEventListener("click", function() {
    let checkboxes = document.querySelectorAll('input[name="email_ids"]');
    for (let checkbox of checkboxes) {
        checkbox.checked = this.checked;
    }
});
</script>
					{% endblock content %}		